name: Build and Run Tests

on:
  pull_request:
    branches: [master]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff  # v6.1.0
        with:
          go-version: 1.8

      - name: Check out code into the Go module directory
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          path: src/github.com/vmware/vic/

      - name: Build
        run: |
          export GOPATH=$(realpath .)
          cd src/github.com/vmware/vic

          make components vic-machine tethers imagec
